<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<style>
table, th, td {

  padding-right: 2em;
}
tr:nth-child(even){
    background-color: rgb(150, 118, 77);
}
</style>


<body>
  <style>
    .container {
        display: flex;
    }

    .section {
        flex: 1;
        padding: 20px;
        border: 1px solid #ccc;
    }
    </style>
<div class="container">
    <div class="section">
      <p>Details for activity, country, city<p>
      <p>activity:{{name_act}}<p>
      <p>country:{{country}}<p>
      <p>city:{{city}}<p>
      <p> type: {{results1}}
      <p> average_rate: {{results4}}
    </div>

    <div class="section">

        {% for columns in result6 %}
            <div style="display:flex; align-items:center; gap:10px;">
                <span>{{ columns[0] }}, {{ columns[1] }}</span>

                <form action="/../user/" method="POST">
                    <input type="hidden" name="user_id" value="{{ columns[2] }}">
                    <button type="submit">Select</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>


</body>
</html>