<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
    .container {
        display: flex;
    }

    .section {
        flex: 1;
        padding: 20px;
        border: 1px solid #ccc;
    }
    </style>
    <h1>{{name}}s</h1>
    <div class="container">
        <div class="section">
            <p>Top cities for {{name}}s</p>
            {% for columns in city_ratings %}
                <div style="display:flex; align-items:center; gap:10px;">
                    <span>{{ columns[1] }}s, {{ columns[0] }}/5 ☆</span>

                    <form action="/../city/" method="POST">
                        <input type="hidden" name="c_id" value="{{ columns[2] }}">
                        <button type="submit">Select</button>
                    </form>
                </div>
            {% endfor %}
        </div>

        <div class="section">
            <p>Top countries for {{name}}s</p>
            {% for columns in country_ratings %}
                <div style="display:flex; align-items:center; gap:10px;">
                    <span>{{ columns[0] }}, {{ columns[2] }}/5 ☆</span>

                    <form action="/../countries/" method="POST">
                        <input type="hidden" name="c_id" value="{{ columns[1] }}">
                        <button type="submit">Select</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>