<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
table, th, td {
  border-collapse: collapse;
  padding-right: 2em;
}
tr:nth-child(even){
    background-color: rgb(150, 118, 77);
}

</style>
<body>
<table>
  {%if name == "get_activitytype" %}
    <tr>
      <th>activity_type</th>
      <th>activity_id</th>
    </tr>

  

  {%elif name == "get_cities_avg_rate" %}

    <tr>
      <th>avg_rate</th>
      <th>activity_type</th>
      <th>cityID</th>
      <th>cityname</th>
    </tr>
  
  {%elif name == "get_countries_avg_rate" %}
    <tr>
      <th>avg_rate</th>
      <th>activity_type</th>
      <th>countryID</th>
      <th>countryname</th>
    </tr>

  {%elif name == "getactivityname" %}
    <tr>
      <th>activityname</th>
      <th>countryname</th>
      <th>cityname</th>
    </tr>

  {%elif name == "getavg_rate_count" %}
    <tr>
      <th>avg_rate</th>
      <th>count</th>
    </tr>

  {%elif name == "get_username_rate" %}
    <tr>
      <th>username</th>
      <th>rate</th>
    </tr>

  {%endif%}

    {% for columns  in results %}
    <tr>
      {% for rows in columns %}
      
        <td> {{rows}}</td>
      
        {% endfor %}
    </tr>
    {% endfor %}
</table>

</body>
</html>