<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
table, th, td {

  padding-right: 2em;
}
tr:nth-child(even){
    background-color: rgb(172, 157, 137);
}
</style>
<body >
<p style="background-color:rgb(172, 157, 137);">{{name}} has rated<p>
<table>
    <tr>
      <th>avg_rate</th>
      <th>vacation_id</th>
      <th>startdate</th>
      <th>enddate</th>
    </tr>
    {% for columns  in results2 %}
    <tr>
        <td>{{ columns[0] }}</td>
        <td>{{ columns[1] }}</td>
        <td>{{ columns[2] }}</td>
        <td>{{ columns[3] }}</td>

            <td>
                <form action="/vacation/" method="POST">
                    <input type="hidden" name="vac_id" value="{{ columns[1] }}">
                    <button type="submit">Select</button>
                </form>
        </td>
      
    </tr>
    {% endfor %}
</table>
</body>
</html>