<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple select</title>
</head>
  <style>
    .container {
        display: flex;
    }

    .section {
        flex: 1;
        padding: 20px;
        border: 1px solid #ccc;
    }
    </style>
<body>

<div class="container">
    <div class="section">
      <p> Start : {{start}} and End: {{end}} with user_id: {{id}}<p></p>
    </div>

    <div class="section">

        {% for columns in results %}
            <div style="display:flex; align-items:center; gap:10px;">
                <span>{{ columns[0] }}, {{columns[2]}} </span>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>